body{
    background-color: black;
}

#removeButton {
    background-color: rgba(169, 209, 198, 0.997);
    border: 0ch;
    border-radius: 3px;
}

#listOfTasks {
    display: inline;
}

add-listcard {
    display: inline-block;
    padding: 15px;
    background-color: rgb(161, 209, 193);
    margin: 5px;
    border-radius: 20px;
}

add-listcard > #addButton{
    border: 0ch;
}

task-card {
    display: inline-block;
    margin: 2px;
}